@import './reset';
@import './variables';
@import './functions';

body {
    font-family: 'lato', 'Times New Roman', Times, serif;
    background-color: rgb(211, 232, 243);
    height: 100vh;
    @include centering(row);

    &.dark {
        background-color: rgb(47, 67, 99);

        .worldClock {
            background-color: rgb(51, 88, 131);
            box-shadow: 7px 7px 2px rgb(36, 51, 75);
            color: #fff;
        }

        .stopWatch {
            background-color: rgb(51, 88, 131);
            box-shadow: 7px 7px 2px rgb(36, 51, 75);
            color: #fff;
        }

        .theme {
            background-color: rgb(51, 88, 131);
            box-shadow: 7px 7px 2px rgb(36, 51, 75);
            color: #fff;
        }

        .alarm {
            background-color: rgb(51, 88, 131);
            box-shadow: 7px 7px 2px rgb(36, 51, 75);
            color: #fff;
        }
    }
}


.mainContainer {
    width: 750px;
    font-weight: 400;
    height: 600px;
    color: rgb(100, 161, 217);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;

    .worldClock {
        background-color: $blockBakground;
        grid-column: span 3;
        @include centering(row);
        padding: 15px;
        border-radius: 12px;
        box-shadow: 7px 7px 2px rgb(159, 174, 183);
        position: relative;

        h2 {
            position: absolute;
            padding: 20px;
            top: 0;
            left: 0;
        }

        .worldTime {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 420px;
            font-size: 2rem;

            h1 {
                font-weight: 400;
            }

            span {
                font-size: 1.3rem;
            }
        }
    }

    .stopWatch {
        background-color: $blockBakground;
        box-shadow: 7px 7px 2px rgb(159, 174, 183);
        @include centering(column);
        grid-row: 2;
        border-radius: 12px;
        position: relative;

        .text {
            padding: 15px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .time {
            margin-top: 25px;
            font-size: 2rem;
            margin-bottom: 17px;
            font-weight: 400;
        }

        .action {
            width: 105px;
            display: flex;
            justify-content: space-between;

            div {
                background-color: rgb(211, 232, 243);
                width: 40px;
                height: 40px;
                border-radius: 50%;

                @include centering(row);

                i {
                    color: rgb(68, 132, 191);
                    font-size: 1.5rem;
                }
            }
        }
    }

    .theme {
        background-color: $blockBakground;
        box-shadow: 7px 7px 2px rgb(159, 174, 183);
        border-radius: 12px;
        grid-row: 3;
        padding: 15px;

        .themeContainer {
            margin-bottom: 18px;
            @include centering(row);
            justify-content: space-between;

            .toggleButton {
                display: flex;
                flex-direction: column;

                // box-shadow: inset;
                .checkbox {
                    position: absolute;
                    opacity: 0;

                    &:checked+.label .ball {
                        transform: translateX(24px);
                    }
                }

                .label {
                    background-color: rgb(68, 132, 191);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 3.5px;
                    width: 50px;
                    height: 25px;
                    border-radius: 30px;
                    position: relative;

                    i {
                        color: #fff;
                    }

                    .ball {
                        position: absolute;
                        border-radius: 50px;
                        height: 20px;
                        width: 20px;
                        background-color: #fff;
                        transition: transform 250ms linear;
                    }
                }
            }
        }

        .modesContainer {
            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 29px;

                h2 {
                    font-weight: 400;
                }

                i {
                    font-size: 2rem;
                }
            }
        }

    }

    .alarm {
        background-color: $blockBakground;
        box-shadow: 7px 7px 2px rgb(159, 174, 183);
        grid-column: span 2;
        grid-row: span 2;
        border-radius: 12px;
        padding: 15px;
        // width: 100%;

        position: relative;

        .intro {

            width: 465px;
            padding-bottom: 15px;

            h2 {
                border-bottom: 1px solid;
                padding-bottom: 17px;
            }

            // .toggleButton {
            //     margin-left: 300px;
            //     display: flex;
            //     flex-direction: column;
            //     // justify-content: space-between;
            //     position: relative;

            //     #checkbox1 {
            //         position: absolute;
            //         opacity: 0;

            //         &:checked + .label .ball{
            //             transform: translateX(25px);
            //         }
            //     }

            //     .label {
            //         background-color: rgb(68, 132, 191);
            //         width: 55px;
            //         height: 25px;
            //         display: flex;
            //         border-radius: 50px;
            //         padding-left: 4px;
            //         padding-right: 4px;
            //         justify-content: space-between;
            //         align-items: center;
            //         position: relative;

            //         h3 {
            //             font-size: 0.7rem;
            //             color: #fff;
            //         }

            //         .ball{
            //             position: absolute;
            //             cursor: pointer;
            //             // left: 5px;
            //             background-color: #fff;
            //             border-radius: 50px;
            //             // border: none;
            //             height: 23px;
            //             width: 23px;
            //             transition: transform 250ms linear;
            //         }
            //     }
            // }
        }

        .container {
            padding: 15px;
            position: absolute;
            bottom: 0;
            right: 0;

            #add-alarm-container {
                display: flex;
                align-items: center;

                #input-alarm {
                    width: 80px;
                    border-radius: 50px;
                    border: none;
                    height: 20px;
                    padding-left: 7px;
                    color: #fff;
                    background-color: rgb(68, 132, 191);
                }

                button {
                    cursor: pointer;
                    border-radius: 50px;
                    height: 70px;
                    width: 70px;
                    border: none;
                    background: transparent;
                    color: rgb(100, 161, 217);

                    i {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}